.password-recovery-form {
  margin: 20px auto;
  padding: 30px;
  border: 2px solid #ddd;
  border-radius: 8px;
  max-width: 400px;
  background-color: #fff;
}

.password-recovery-form h2 {
  text-align: center;
}

.password-recovery-form label {
  display: block;
  margin-bottom: 20px;
}

.password-recovery-form input {
  width: calc(100% - 22px); /* 변경된 부분 */
  padding: 10px;
  /* margin-bottom: 15px; */
  border: 1px solid #ddd;
  border-radius: 4px;
}

.password-recovery-form .input-with-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.password-recovery-form button {
  background-color: #2196f3;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.password-recovery-form button:hover {
  background-color: #1769aa;
}

.long-button {
  width: 100%;
  margin-top: 10px;
}
