.category-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    margin-right: 370px; 
   
  }
  
  .category-select {
    width: 150px;
    padding: 8px;
    margin-right: 10px; 
  }
  
  .write-button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .write-button:hover {
    background-color: #45a049;
  }
  