/* pages/PostDetail/PostDetail.css */

.post-detail {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 30px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.post h2 {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post h2 .post-author {
  font-size: 10px;
  color: #888;
  margin-left: 10px;
}

.post p {
  color: #666;
  margin-bottom: 20px;
}

.post-header {
  margin-bottom: 10px;
}

.post-meta {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #888;
}

.action-buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.action-buttons button {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.action-buttons button:hover {
  background-color: #e5e5e5;
}

.timestamp {
  margin-top: 10px; /* 버튼과 타임스탬프 사이에 일정한 간격 추가 */
}

.profile-image {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-left: 5px;
}

.comment-list {
  margin-top: 20px;
}

.comment {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.comment-author {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.comment-author img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-meta {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #888;
}

.comment-meta button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.comment-meta button:hover {
  color: #2196f3;
}

.author-nickname {
  font-size: 10px;
  color: #888;
}

.commentWrite {
  display: flex; /* Flexbox 레이아웃 설정 */
  flex-direction: row; /* 자식 요소들을 가로로 나열하도록 설정 */
  align-items: center; /* 자식 요소들을 수직 중앙 정렬 */
  width: 100%;
  margin: 10px;
  border: 1px solid #ffffff00; /* 실선 태두리 추가 */
  border-radius: 10px; /* 모서리를 10px 만큼 둥글게 설정 */
}

.commentDetail {
  margin: 3px;
  border-radius: 10px;
  width: 70%; /* 너비를 50%로 고정 */
  max-width: 70%; /* 최대 너비를 50%로 설정하여 가로 크기가 변경되지 않도록 함 */
}

.comment-img{
  width: 60px;
  height: 60px;
  margin-left: 5px;
  margin-right: 5px;
}

.commentPost{
  width: 60px;
  height: 40px;
  border-radius: 10px;
}