.TalkDetail {
    /* overflow-y: auto; */
    height: 100%;
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.TalkDetailContainer {
    overflow-y: scroll;
    height: 80%;
}

.containerWrap {
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 55rem;
    position: relative;
    display: flex;
    justify-content: center;
}

.VoteFields {
    margin-top: 10%;
    margin-left: 20px;
    margin-right: 20px;
    width: 20%;
    /* border: 1px solid red; */
}